:root {
  --color-background-primary: #2b2a2a;
  --color-background-secondary: #44433f;
  --color-background-input: #2f2f2f;

  --color-accent: #bab08f;

  --color-font-normal: #cbcbcb;
  --color-font-muted: #858585;
  --color-font-bright: #ffffff;
}
